<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group" *ngFor="let recipe of recipes">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-8">
                        <h5>{{ recipe.name }}</h5>
                        <h7>{{ recipe.description }}</h7>
                    </div>
                    <div class="col-md-4">
                        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" style="max-width: 100px;">
                    </div>
                </div>
            </li>
        </ul>
        <app-recipe-item></app-recipe-item>
    </div>
</div>